@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-black bg-mainBg;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.56;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;

  color-scheme: light dark;
  color: #333333;
  background-color: #64EBED;
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
